.footer-links>a:hover {
     color: black !important;
 }

.navbar-toggler {
  border-color: #000; 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

nav{
    background: #FFFFFFFF;
     box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
    padding: 20px 20px;
 
}
.navbar-light .navbar-nav .nav-link {
  color:#171A1FFF;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #0746b3; 

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
    align-items: center;
}
.logo p{
  width: 56px; 
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-size: 25px; 
  font-weight: 700; 
  color: #22498CFF; 
  margin-bottom: 0px;
  vertical-align:bottom;
  margin-top: 20px;
}
.logo img{ 
  width: 32px; 
  height: 32px; 
  border-radius: 0px 0px 0px 0px; 
  margin-right: 3px;
  vertical-align:middle;
}
.btn-avatar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-avatar button{
  width: 40px; 
  height: 40px; 
  padding: 0 10px; 
  margin-right: 10px;
  color: #565D6DFF; 
  background: #00000000; /* transparent */
  opacity: 1; 
  border: none; 
  border-radius: 6px; 
}
 .btn-avatar .icon {
  width: 16px; 
  height: 16px; 
  fill: #565D6DFF; 
}
/* Hover */
 .btn-avatar button:hover {
  color: #565D6DFF; 
  background: #00000000; /* black */
}
/* Pressed */
 .btn-avatar button:hover:active {
  color: #565D6DFF; 
  background: #00000000; /* black */
}
/* Disabled */
 .btn-avatar button:disabled {
  opacity: 0.4; 
}
.navbar-collapse{
 
  height: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  opacity: 1; 
 line-height: 22px;
}
.navbar-collapse ul{
    list-style-type: none;
    font-style: none;
    margin-bottom: 0px;
}
.navbar-collapse ul li{
    font-style: none;
    list-style-type: none;
    padding: 0px 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #565E6CFF; /* neutral-600 */
    background: transparent; /* transparent */
    border-radius: 0px; 
    cursor: pointer; 
    white-space: nowrap;
    font-family: "Open Sans", sans-serif;
    font-size: 14px; 
    margin-bottom: 0px;
}
.navbar-collapse ul li a{
    text-decoration: none;
    color:#171A1FFF
}
/* Header Menu - Selected item */
.navbar-collapse ul li.selected {
  position: relative; 
  color: #636AE8FF; /* primary-500 */
  background: #000000FF; /* transparent */
}
/* Header Menu - Selected item */
.navbar-collapse ul li.selected:hover:active {
  color: #636AE8FF; /* primary-500 */
  background: #000000FF; /* transparent */
}
/* Header menu item 1 */
.navbar-collapse ul li:nth-child(1) {
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #171A1FFF; /* neutral-900 */
}
/* Header menu item 2 */
.navbar-collapse ul li:nth-child(2) {
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 600; 
  color: #22498CFF; 
}
/* Header menu item 3 */
.navbar-collapse ul li:nth-child(3) {
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #171A1FFF; /* neutral-900 */
}
/* Header menu item 4 */
.navbar-collapse ul li:nth-child(4) {
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #171A1FFF; /* neutral-900 */
}
/* Header menu item 5 */
.navbar-collapse ul li:nth-child(5) {
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #171A1FFF; /* neutral-900 */
}
/* Header menu item 6 */
.navbar-collapse ul li:nth-child(6) {
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #171A1FFF; /* neutral-900 */
}
.avatar{
    width: 36px; 
    height: 36px; 
    background: #FAE7F6FF; 
    opacity: 1; 
    overflow: hidden; 
    border-radius: 18px; 
}
.avatar img {
  width: 36px; 
  height: 36px; 
}

.section-site{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
/* .section-site .sec{
    font-family: Roboto; 
    font-size: 16px; 
    line-height: 28px; 
    font-weight: 400; 
    color: #565D6DFF; 
    margin: 10px;
  
} */

.section-site .sec p{
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 16px; 
    line-height: 28px; 
    font-weight: 400; 
    color: #565D6DFF;
    vertical-align: middle;
    margin: 0px;
}
.section-site .sec .tag{ 
    width: 214px; 
    height: 30px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    font-family: Inter; /* Body */
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 400; 
    opacity: 1; 
    color:black
}
/* Tag - Item */
.section-site .sec .tag {
  height: 30px; 
  padding-left: 6px; 
  padding-right: 6px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 9999px; 
}
.section-site .sec .tag > * {
  padding-left: 2px; 
  padding-right: 2px; 
}
/* Tag item 1 */
.section-site .sec .tag:nth-child(1) {
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 600; 
  background: #F3F6FCFF; 
  border-color: #00000000; /* transparent */
}
/* Tag item 1 - Pressed */
.section-site .sec .tag:nth-child(1):hover {
  color: #FFFFFFFF; /* white */
  background: #424955FF; /* neutral-650 */
}
/* Tag item 1 - Pressed */
.tag:nth-child(1):hover:active {
  color: #FFFFFFFF; /* white */
  background: #323842FF; /* neutral-700 */
}
/* Tag item 1 - Pressed */
.tag:nth-child(1):disabled {
  color: #FFFFFFFF; /* white */
  background: #565E6CFF; /* neutral-600 */
}
.row .left h1{
  font-family: Inter; /* Body */
  font-size: 36px; 
  line-height: 45px; 
  font-weight: 700; 
  margin-top: 10px
  ;
  color: #171A1FFF; /* neutral-900 */
}
.row .left .Inc{
    font-family: Inter; /* Body */
    font-size: 24px; 
    line-height: 32px; 
    font-weight: 600; 
    color: #22498CFF; 
    margin-bottom: 5px;
}

.section-site span img{
    width: 20px; 
    height: 20px; 
    fill: #565D6DFF;
    vertical-align: middle;
}

/* Button */
.right button {
      width: 100%;
      padding: 10px;
      background: #22498c;
      border: none;
      color: #fff;
      border-radius: 5px;
      margin-bottom: 15px;
      margin-top: 3px;
      margin-left: 0px;
      margin-right: 0px;
} 
/* Hover */
.right button:hover {
  color: #FFFFFFFF; /* white */
  background: #0d6efd; 
}
/* Pressed */
.right button:hover:active {
  color: #FFFFFFFF; /* white */
  background: #0d6efd; 
}
/* Disabled */
.right button:disabled {
  opacity: 0.4; 
}
.right{
    padding-left: 0px;
    padding-right: 0px;
   
    ;
}

.tag .tag-item > * {
  padding-left: 2px; 
  padding-right: 2px; 
}
/* Tag item 1 */
.tag .tag-item:nth-child(1) {
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 600; 
  background: #F3F6FCFF; 
  border-color: #00000000; /* transparent */
}
/* Tag item 1 - Pressed */
.tag .tag-item:nth-child(1):hover {
  color: #FFFFFFFF; /* white */
  background: #424955FF; /* neutral-650 */
}
/* Tag item 1 - Pressed */
.tag .tag-item:nth-child(1):hover:active {
  color: #FFFFFFFF; /* white */
  background: #323842FF; /* neutral-700 */
}
/* Tag item 1 - Pressed */
.tag .tag-item:nth-child(1):disabled {
  color: #FFFFFFFF; /* white */
  background: #565E6CFF; /* neutral-600 */
}

.aside{ 
  width: 100%; 
  background: #FFFFFFFF; /* white */
  border-radius: 10px; 
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F; /* shadow-xs */
  margin: auto;
  padding: 10px 15px ;
}
.aside  .image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside img{ 
  width: 64px; 
  height: 64px; 
  border-radius: 0px 0px 0px 0px; 
  margin: 15px auto;
}
.aside .title{
  font-family: Inter; /* Body */
  font-size: 24px; 
  line-height: 30px; 
  font-weight: 600; 
  margin-bottom: 0px;
  color: #171A1FFF; /* neutral-900 */
}
.aside .text{
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 25px; 
  font-weight: 400; 
  color: #565D6DFF; 
  margin-top: 10px;
}

.aside .bold{
  font-family: Roboto; 
  font-size: 14px; 
  font-weight: 400; 
  color: #171A1FFF; /* neutral-900 */
  margin-bottom: 0px;
}
.aside .visit{
  font-family: Roboto; 
  font-size: 14px; 
  font-weight: 400; 
  color: #22498CFF; 
}
.aside .visit img{
  width: 16px; 
  height: 16px; 
  fill: #22498CFF;
  margin-right: 5px
  ;
}
.line{
   
  height: 0px; 
  border-width: 1px; 
  border-color: rgb(191, 193, 199); /* neutral-300 */
  border-style: solid; 
  transform: rotate(0deg);
}

.row .left .p2{
 
  
  font-family: Roboto; 
  font-size: 16px; 
  line-height: 26px; 
  font-weight: 400; 
  color: #171A1FFF; /* neutral-900 */
}
.row .left h2{
  font-family: Inter; /* Body */
  font-size: 24px; 
  margin: 20px 0px;
  line-height: 32px; 
  font-weight: 700; 
  color: #171A1FFF; /* neutral-900 */
}
.row .left .texts p{
  font-family: Roboto; 
  font-size: 16px; 
  font-weight: 400; 
  color: #171A1FFF; /* neutral-900 */
}
.content{
    margin: 0px 20px;
}
/* footer{ 
  height: 52px; 
  background: #FFFFFFFF; /* white */
  /* border-radius: 0px 0px 0px 0px;  */


/* footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-style: none;
    margin-bottom: 0px;
}

footer .icons{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap:20px;
} */

.icons svg{
  fill: none;      /* يلوّن الجزء المعبّي */
  stroke: #171A1FFF;   /* يلوّن الحواف */
}

/* footer .icons svg{
  width: 20px; 
  height: 20px; 
  stroke:#171A1FFF;
} */
/* footer .container{
    width: 100%;;
    height: 50px;
} */

.icon-fb { color:#1877F2; transition: color .2s; }
.icon-fb:hover { color:#0e5ad6; }

.contact{
  width: 40%;
}
.contact .icons{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap:20px;
}

@media (max-width: 768px) {
  .contact{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content{
    width: 100%;
    text-align: center;
  }
  .aside{
    text-align: center;
  }
}


body {
  overflow-x: hidden;
}
/* footer{
  padding-bottom: 10px;
  margin-top: 0;
  height: auto;
} */
/* footer img:hover{
  cursor: pointer;
  stroke: #0e5ad6; 
}
*/

/* page2 */




 .container {
    margin-left: auto;
    margin-right: auto;
}
 table {
      width: 100%;
      border-collapse: collapse;
    }

.page2 h1{ 
  font-family: Inter; 
  font-size: 30px; 
  line-height: 36px; 
  font-weight: 700; 
  margin: 30px 0px 0px 80px;
  color: #171A1FFF; 
}

.extra-margin {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; 
  padding-left: 15px;
  padding-right: 15px;
}
.container h2{
  font-family: Inter; 
  font-size: 24px; 
  line-height: 24px; 
  font-weight: 600; 
  color: #171A1FFF; 
}

.container .subtitle{
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #565D6DFF; 
}

@media(max-width:768px){
.page2 h1{
  margin: 30px auto 0 auto; 
  text-align: center; 
}
.container h2{
   margin: auto; 
  text-align: center; 
}
.container .subtitle{
  margin: auto;
}
}
.nav-pills {
  background: #F3F4F6FF; /* neutral-200 */
  border-radius: 6px; 
}


.nav-pills .flex-sm-fill {
  color: #565D6DFF;
}

.nav-pills .flex-sm-fill.active {
  color: black ;   
  width: auto; 
  font-family: 'Roboto'; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  color: #171A1FFF; /* neutral-900 */
  background: #FFFFFFFF; /* white */
  opacity: 1; 
  border: none; 
  border-radius: 4px; 
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;             
}



/* Hover */
.flex-sm-fill:not(.active):hover {
  color: #171A1FFF; /* neutral-900 */
  background: #DEE1E6FF; /* neutral-300 */
}
/* Pressed */
.nav-pills .nav-link:hover:active {
  color: #171A1FFF; /* neutral-900 */
  background: #BCC1CAFF; /* neutral-400 */
}
/* Disabled */
.nav-pills .flex-sm-fill:disabled {
  opacity: 0.4; 
}


thead th{
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 500; 
  color: #565D6DFF; 


}
tbody td{
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #171A1FFF; /* neutral-900 */
}

tbody .col1{
  font-family: Roboto; 
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 500; 
  color: #171A1FFF; /* neutral-900 */
}


tbody .badge{
  height: 22px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

tbody .pending{
  background-color: #F3F4F6FF;
  color:rgb(112, 107, 107);
  
}

tbody .pending > * {
  padding-left: 2px; 
  padding-right: 2px; 
}
/* Tag item 1 */
tbody .pending:nth-child(1) {
  font-family: Roboto; 
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 600; 
  background: #F3F4F6FF; /* neutral-200 */
  border-color: #00000000; /* transparent */
}
/* Tag item 1 - Pressed */
tbody .pending:nth-child(1):hover {
  color: #FFFFFFFF; /* white */
  background: #424955FF; /* neutral-650 */
}
/* Tag item 1 - Pressed */
tbody .pending:nth-child(1):hover:active {
  color: #FFFFFFFF; /* white */
  background: #323842FF; /* neutral-700 */
}
/* Tag item 1 - Pressed */
tbody .pending:nth-child(1):disabled {
  color: #FFFFFFFF; /* white */
  background: #565E6CFF; /* neutral-600 */
}



  .Interviewing{
  padding-left: 6px; 
  padding-right: 6px; 
  border-radius: 9999px; 
  }
.Interviewing > * {
  padding-left: 2px; 
  padding-right: 2px; 
}
/* Tag item 1 */
.Interviewing:nth-child(1) {
  font-family: Roboto; 
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 600; 
  background: #F59E0BFF; 
  border-color: #00000000; /* transparent */
}
/* Tag item 1 - Pressed */
.Interviewing:nth-child(1):hover {
  color: #FFFFFFFF; /* white */
  background: #424955FF; /* neutral-650 */
}
/* Tag item 1 - Pressed */
.Interviewing:nth-child(1):hover:active {
  color: #FFFFFFFF; /* white */
  background: #323842FF; /* neutral-700 */
}
/* Tag item 1 - Pressed */
.Interviewing:nth-child(1):disabled {
  color: #FFFFFFFF; /* white */
  background: #565E6CFF; /* neutral-600 */
}

tbody .Interviewing{
  background-color: #F3F4F6FF;
  color:black;
}

/* Tag - Item */
.Offered {
 
  border-radius: 9999px; 
}
.Offered > * {
  padding-left: 2px; 
  padding-right: 2px; 
}
/* Tag item 1 */
.Offered:nth-child(1) {
  font-family: Roboto; 
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 600; 
  background: #198754; 
  border-color: #00000000; /* transparent */
}
/* Tag item 1 - Pressed */
.Offered:nth-child(1):hover {
  color: #FFFFFFFF; /* white */
  background: #424955FF; /* neutral-650 */
}
/* Tag item 1 - Pressed */
.Offered:nth-child(1):hover:active {
  color: #FFFFFFFF; /* white */
  background: #323842FF; /* neutral-700 */
}
/* Tag item 1 - Pressed */
.Offered:nth-child(1):disabled {
  color: #FFFFFFFF; /* white */
  background: #565E6CFF; /* neutral-600 */
}
tbody .Offered{
  background-color: #F3F4F6FF;
  color:black;
}


.Rejected{
  background-color: #F3F4F6FF;
  color:white;
}
/* Tag - Item */
.Rejected {
  padding-left: 6px; 
  padding-right: 6px; 
  border-radius: 9999px; 
}
.Rejected > * {
  padding-left: 2px; 
  padding-right: 2px; 
}
/* Tag item 1 */
.Rejected:nth-child(1) {
  font-family: Roboto; 
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 600; 
  background: #dc3545; 
  border-color: #00000000; /* transparent */
}
/* Tag item 1 - Pressed */
.Rejected:nth-child(1):hover {
  color: #FFFFFFFF; /* white */
  background: #424955FF; /* neutral-650 */
}
/* Tag item 1 - Pressed */
.Rejected:nth-child(1):hover:active {
  color: #FFFFFFFF; /* white */
  background: #323842FF; /* neutral-700 */
}
/* Tag item 1 - Pressed */
.Rejected:nth-child(1):disabled {
  color: #FFFFFFFF; /* white */
  background: #565E6CFF; /* neutral-600 */
}
@media (max-width: 768px) {
  nav .filter-btn{
    text-align: center;
  }
}
tr td .btn{
  border: 1px solid #22498c;
  color:#22498c;
}
tr td .btn:hover{
  color: white;
  background-color:#22498c;
}

/* .footer-links a{color:#6b7280; text-decoration:none}
.footer-links a:hover{text-decoration:underline}
@media (max-width: 768px){
  .footer-links{
    margin: auto;
  }
  .align-items-center{
    margin: auto;
  }
}

} */
 .align-items-center i:hover{
  cursor: pointer;
 color: #2067e2;}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


